main .section .columns-wrapper .columns {
  background-color: var(--background-color);
}

.columns > div {
  display: flex;
  flex-direction: column;
}

.columns > div > div {
  order: 1;
  padding: 40px 0;
}

.columns > div > div:first-child {
  order: 1;
  padding-top: 0;
}

.columns > div > div:last-child {
  padding-bottom: 0;
}

.columns > div > div a.button, .columns > div > div p.button-container {
  margin-bottom: 0;
}

.columns.fragment h2 {
  font-size: 1.375rem;
  line-height: 1.875rem;
  letter-spacing: -1px;
}

.columns p {
  font-size: var(--body-font-size-s);
}

/* Category style */
.columns.category {
  padding-top: 26px;
}

.columns.category h3 {
  font-size: 16px;
  margin-block-end: 0;
  line-height: 1.5rem;
}

.columns.category h3 a {
  color: var(--button-color);
  text-decoration: none;
  font-weight: 500;
  letter-spacing: normal;
}

.columns.category p {
  margin-top: 0;
  font-size: 14px;
}

/* Button style */

.columns.fragment .button-container .button {
  width: 100%;
  color: var(--button-color);
  background-color: transparent;
  border-color: var(--button-color);
  box-sizing: border-box;
  border-radius: 0.25rem;
  font-family: var(--button-font-family);
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid var(--button-color);
  min-height: 48px;
  transition: all 0.2s ease-in;
  min-width: 192px;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
}


.columns.fragment .button-container .button a {
  text-align: center;
}

.columns.fragment .button-container .button:hover {
  background-color: var(--button-color);
  color: var(--background-color);
}

.columns > div > div:not(:last-child) {
  border-bottom: 1px solid var(--columns-border);
}

@media (min-width: 900px) {
  main .section.columns-container > .default-content-wrapper {
    width: inherit;
  }
}

@media (min-width: 900px) {
  .columns > div {
    flex-direction: unset;
    gap: 40px;
    display: flex;
  }

  .columns > div > div {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding-right: 40px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .columns > div > div:last-child {
    padding-right: 0;
  }

  .columns > div > div:not(:last-child) {
    border-right: 1px solid var(--columns-border);
    border-bottom: none;
  }

  .columns.fragment h2 {
    font-size: 2rem;
    margin-bottom: 0;
    line-height: var(--heading-line-height-l);
    letter-spacing: -1px;
  }

  .columns.fragment .button-container {
    margin-top: auto;
  }
}

