.columns {
  background-color: var(--background-color);
  font-size: var(--body-font-size-xs);
  word-break: break-word;
}

/* article table - row */
.columns > div {
  flex-direction: unset;
  display: flex;
  gap: 24px;
  padding: 24px 0;
  border-bottom: 1px solid #ccc;
}

/* article table - cell / column */
.columns > div > div {
  display: flex;
  flex: 1;
  flex-direction: column;
}

/* article table - first row */
.columns > div:first-child {
  font-family: var(--th-font-family);
  font-weight: bold;
}

/* article table - last row */
.columns > div:last-child {
  border-bottom: none;
}

/* category & fragment */
.columns.category > div, 
.columns.fragment > div {
  display: flex;
  gap: 0;
  flex-flow: column;
  padding: 0;
  font-family: var(--body-font-family);
  font-weight: normal;
}

.columns.category > div > div, 
.columns.fragment > div > div {
  order: 1;
  padding: 40px 0;
  border-bottom: 1px solid var(--columns-border);
}

.columns.category > div > div:first-child, 
.columns.fragment > div > div:first-child {
  order: 1;
  padding-top: 0;
}

.columns.category > div > div:last-child, 
.columns.fragment > div > div:last-child {
  padding-bottom: 0;
}

.columns > div > div a.button, 
.columns > div > div p.button-container {
  margin-bottom: 0;
}

.columns.fragment h2 {
  font-size: 1.375rem;
  line-height: 1.875rem;
  letter-spacing: -1px;
}

.columns.category p, .columns.fragment p {
  font-size: var(--body-font-size-s);
}

/* Category style */
.columns.category {
  padding-top: 26px;
}

.columns.category h3 {
  font-size: 16px;
  margin-block-end: 0;
  line-height: 1.5rem;
}

.columns.category h3 a {
  color: var(--button-color);
  text-decoration: none;
  font-weight: 500;
  letter-spacing: normal;
}

.columns.category p {
  margin-top: 0;
  font-size: 14px;
}

/* Button style */
.columns a.button:any-link, .colums button {
  all: unset;
  cursor: pointer;
  text-decoration: underline;
  width: fit-content;
}

.columns a.button:any-link:hover {
  color: var(--button-color);
}

.columns.fragment .button-container .button {
  width: 100%;
  color: var(--button-color);
  background-color: transparent;
  border-color: var(--button-color);
  box-sizing: border-box;
  border-radius: 0.25rem;
  font-family: var(--button-font-family);
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid var(--button-color);
  min-height: 48px;
  transition: all 0.2s ease-in;
  min-width: 192px;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
}


.columns.fragment .button-container .button a {
  text-align: center;
}

.columns.fragment .button-container .button:hover {
  background-color: var(--button-color);
  color: var(--background-color);
}

@media (min-width: 900px) {
  .columns {
    font-size: var(--body-font-size-s);
  }

  .columns.category,
  .columns.fragment {
    font-size: var(--body-font-size-s);
  }

  .columns.category > div,
  .columns.fragment > div {
    flex-direction: unset;
    gap: 40px;
    display: flex;
  }

  .columns.category > div > div,
  .columns.fragment > div > div {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding-right: 40px;
    padding-top: 0;
    padding-bottom: 0;
    border-right: 1px solid var(--columns-border);
    border-bottom: none;
  }

  .columns > div > div:last-child {
    border-right: none;
    padding-right: 0;
  }

  .columns.fragment h2 {
    font-size: 2rem;
    margin-bottom: 0;
    line-height: var(--heading-line-height-l);
    letter-spacing: -1px;
  }

  .columns.fragment .button-container {
    margin-top: auto;
  }
}
