/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

:root {
  /* colors */
  --link-color: #000;
  --link-hover-color: #0f76de;
  --body-background-color: #f7f7f7;
  --background-color: #fff;
  --text-color: #000;
  --button-color: #0c6cce;
  --button-hover-color: #0458ad;
  --columns-border: #f7f7f7;

  /* article content */
  --article-color: #333;
  --article-heading-color: #000;

  /* table of contents */
  --toc-link-color: #0c6cce;
  --toc-secondary-link-color: #7f7f7f;;
  --toc-link-background-color: #f5f5f5;

  /* search */
  --search-text-color: #333;
  --search-line-info: #ccc;
  --search-line-error: #e82400;
  --search-focus-color: #0c6cce;

  /* breadcrumbs */
  --breadcrumbs-text-color: #333;
  --breadcrumbs-hover-color: #0c6cce;

  /* hero */
  --hero-background-color: #000;
  --hero-text-color: #fff;
  --hero-no-image-heading-font-size: 32px;

  /* footer */
  --footer-text-color: #fff;
  --footer-background-color: #000;

  /* video */
  --video-button-duration-color: #ccc;
  --video-button-cta-background-color: #fff;
  --video-button-cta-hover-color: #0c6cce;
  --video-button-cta-color: #000;
  --video-button-background-color: rgb(0 0 0 / 75%);
  --video-button-title-color: #fff;

  /* fonts */
  --body-font-family: "MCQGlobal-Regular-Normal","Helvetica","Arial","sans-serif";
  --body-font-family-bold-normal: "MCQGlobal-Bold-Normal","Helvetica","Arial","sans-serif";
  --body-font-family-regular-heavy: "MCQGlobal-Regular-Heavy","Helvetica","Arial","sans-serif";
  --button-font-family: "MCQGlobal-Medium-Normal","Helvetica","Arial","sans-serif";
  --th-font-family: "MCQGlobal-Medium-Normal","Helvetica","Arial","sans-serif";
  --nav-font-family: "MCQGlobal-Medium-Heavy","Helvetica","Arial","sans-serif";
  --heading-font-family: var(--body-font-family-regular-heavy);
  --fixed-font-family: 'Roboto Mono', menlo, consolas, 'Liberation Mono', monospace;

  /* body sizes */
  --body-font-size-l: 32px;
  --body-font-size-m: 18px;
  --body-font-size-s: 16px;
  --body-font-size-xs: 14px;
  --body-font-size-xxs: 12px;

  /* heading sizes */
  --heading-font-size-xxl: 32px;
  --heading-font-size-xl: 44px;
  --heading-font-size-l: 22px;
  --heading-font-size-m: 18px;
  --heading-font-size-s: 16px;
  --heading-font-size-xs: 16px;

   /* line height */
   --heading-line-height-xxl: 2.5rem;
   --heading-line-height-xl: 2.5rem;
   --heading-line-height-l: 1.875rem;
   --heading-line-height-m: 1.5rem;
   --heading-line-height-s: 1.5rem;

  /* nav height */
  --nav-height: 56px;

}

@font-face {
  font-family: roboto-fallback;
  size-adjust: 100.06%;
  ascent-override: 95%;
  src: local('Arial');
}

body {
  font-size: var(--body-font-size-s);
  margin: 0;
  font-family: var(--body-font-family);
  line-height: 1.5rem;
  color: var(--text-color);
  display: none;
  background-color: var(--body-background-color);
  background-image: url('../images/background-image.png'); /* image has transparency, background-color is also needed */
  -webkit-font-smoothing: antialiased;
}

body.appear {
  display: block;
}

header {
  height: var(--nav-height);
}

h1, h2, h3,
h4, h5, h6 {
  font-family: var(--heading-font-family);
  font-weight: normal;
  line-height: 1.25;
  margin-top: 1em;
  margin-bottom: .5em;
  scroll-margin: calc(var(--nav-height) + 1em);
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: var(--heading-font-size-xxl);
  line-height: var(--heading-line-height-xxl);
  letter-spacing: -2px;
}

h2 {
  font-size: var(--heading-font-size-xl);
  line-height: var(--heading-line-height-xl);
  letter-spacing: -2px;
}

h3 {
  font-size: var(--heading-font-size-l);
  line-height: var(--heading-line-height-l);
  letter-spacing: -1px;
}

h4 {
  font-size: var(--heading-font-size-m);
  line-height: var(--heading-line-height-m);
}

h5 {
  font-size: var(--heading-font-size-s);
  line-height: var(--heading-line-height-s);
}

h6 {
  font-size: var(--heading-font-size-xs);
  line-height: var(--heading-line-height-s);
}

h1,h2,h3,h4 {
  margin-top: 0
}

h5,h6 {
  margin-top: 0;
  margin-bottom: 8px;
  font-family: var(--heading-font-family);
  font-weight: 500
}

p, dl, ol, ul, pre, blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
}

hr {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border: 0;
  border-bottom: 1px solid var(--overlay-background-color);
}

code, pre, samp {
  font-family: var(--fixed-font-family);
  font-size: var(--body-font-size-s);
}

code, samp {
  padding: .125em;
}

pre {
  overflow: scroll;
}

main pre {
  background-color: var(--overlay-background-color);
  padding: 1em;
  border-radius: .25em;
  overflow-x: auto;
  white-space: pre;
}

a:any-link {
  color: var(--link-color);
  text-decoration: underline;
}

a:hover {
  color: var(--link-hover-color);
}

/* buttons */
a.button:any-link, button {
  font-family: var(--body-font-family);
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  border: 2px solid transparent;
  padding: 5px 30px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  cursor: pointer;
  color: var(--background-color);
  background-color: var(--link-color);
  margin: 16px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 30px;
}

a.button:hover, a.button:focus, button:hover, button:focus  {
  background-color: var(--link-hover-color);
  cursor: pointer;
}

button:disabled, button:disabled:hover {
  background-color: var(--overlay-background-color);
  cursor: unset;
}

a.button.secondary, button.secondary {
  background-color: unset;
  border: 2px solid currentcolor;
  color: var(--text-color)
}

main input {
  font-size: 1.25rem;
  width: 100%;
  max-width: 50rem;
  display: block;
  margin-bottom: 1rem;
  padding: 0.75rem 0.6rem;
  border-radius: 0.25rem;
  box-sizing: border-box;
  border: 1px solid var(--text-color);
  color: var(--text-color);
  background-color: var(--background-color);
}

main input:hover {
  border: 1px solid var(--text-color);
}

main blockquote {
  font-style: italic;
  margin: 3rem;
  text-indent: -1rem;
  hanging-punctuation: first;
}

main blockquote p::before {
  content: "“";
  line-height: 0;
}

main blockquote p::after {
  content: "”";
  line-height: 0;
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon svg {
  height: 100%;
  width: 100%;
}

main .section {
  box-sizing: border-box;
  margin: 40px 8px;
  padding: 40px 16px;
  background-color: var(--background-color);
}

main .section:empty {
  display: none;
}

/* article content */
.article-short .default-content-wrapper, .article-long .default-content-wrapper {
  line-height: 1.75rem;
  color: var(--article-color);
}

.article-short .default-content-wrapper p, .article-long .default-content-wrapper p {
  margin: 0 0 16px;
}

.article-short .default-content-wrapper p:last-child, .article-long .default-content-wrapper p:last-child {
  margin-bottom: 0;
}

.article-short .default-content-wrapper ul, .article-long .default-content-wrapper ul, 
.article-short .default-content-wrapper ol, .article-long .default-content-wrapper ol {
  margin-bottom: 32px;
}

.article-short .default-content-wrapper li, .article-long .default-content-wrapper li {
  margin-bottom: 8px;
}

.article-short .default-content-wrapper li:last-child, .article-long .default-content-wrapper li:last-child {
  margin-bottom: 0;
}

.article-short .default-content-wrapper h2, .article-long .default-content-wrapper h2 {
  margin-bottom: 16px;
  font-size: var(--heading-font-size-l);
  font-family: var(--body-font-family);
  color: var(--article-heading-color);
  line-height: 2rem;
  letter-spacing: -1px;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: 100%;
  font-weight: normal;
}

.article-short .default-content-wrapper h3, .article-long .default-content-wrapper h3 {
  margin-bottom: 16px;
  font-size: var(--heading-font-size-m);
  font-family: var(--body-font-family);
  color: var(--article-heading-color);
  line-height: 1.5rem;
  letter-spacing: normal;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: 100%;
  font-weight: normal;
}

.article-long .default-content-wrapper h2 {
  padding-top: 16px;
}

@media (min-width: 600px) {
  :root {
    --nav-height: 88px;
  }

  main .section {
    margin: 32px 16px;
    padding: 32px 24px;
  }

  main .section.article-short > div {
    margin: auto;
    width: calc(100% * 2/3);
    line-height: 1.75rem;
  }

  main .section > .default-content-wrapper:has(h2#popular-articles) {
    width: 100%
  }

  .article-long .default-content-wrapper h2 {
    margin-bottom: 40px;
  }
}

@media (min-width: 900px) {
  :root {
    --heading-font-size-xxl: 60px;
    --heading-font-size-xl: 44px;
    --heading-font-size-l: 32px;
    --heading-font-size-m: 22px;
    --heading-font-size-s: 18px;
    --heading-font-size-xs: 16px;

    /* line height */
    --heading-line-height-xxl: 4rem;
    --heading-line-height-xl: 3.5rem;
    --heading-line-height-l: 2.5rem;
    --heading-line-height-m: 1.875rem;

    /* hero */
    --hero-no-image-heading-font-size: 44px;
  }

  body {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  main .section {
    margin: 32px 24px;
    padding: 40px;
  }

  .article-short .default-content-wrapper h2 {
    margin-bottom: 32px;
    font-size: var(--heading-font-size-m);
    line-height: 3rem;
  }

  .article-long .default-content-wrapper h2 {
    padding: 16px 36px 16px 0;
  }

  .article-long .default-content-wrapper h3 {
    margin-bottom: 32px;
    line-height: 1.875rem;
  }
}

@media (min-width: 1200px) {
  main .section {
    max-width: 1200px;
    margin: 48px auto;
    padding: 48px;
  }
}

.external-link-icon::after {
  content: url("../icons/icon-external-link.svg");
  margin-left: 5px;
  transition: 0.3s;
  position: relative;
  top: 2px;
}

.external-link-icon:hover::after {
  content: url("../icons/icon-external-link-blue.svg");
}

.pdf-icon::after {
  content: url("../icons/download-icon.svg");
  margin-left: 5px;
  transition: 0.3s;
  position: relative;
  top: 2px;
}

.pdf-icon:hover::after {
  content: url("../icons/download-icon-blue.svg");
}

.icon.icon-google-play-icon svg,
.icon.icon-app-store-logo svg {
  width: 120px;
  height: 40px;
  pointer-events: auto;
}

.icon-link {
  position: relative;
}

.icon-link::after {
  content: url('../icons/icon-external-link.svg');
  width: 20px;
  height: 20px;
  position: absolute;
  top: 53%;
  left: 125px;
  transform: translateY(-50%);
}

.icon-link:hover::after {
  content: url('../icons/icon-external-link-blue.svg');
}

.svg a {
  display: block;
  pointer-events: none;
}

main .section.rating {
  display: block;
}

main .section.rating .default-content-wrapper {
  margin: unset;
  width: unset;
}

main .section.rating .default-content-wrapper h3 {
  font-size: 1.25rem;
  margin-bottom: 20px;
  font-family: var(--button-font-family);
}

main .section.rating .default-content-wrapper ul {
  list-style-type: none;
  padding-left: 0;
  font-size: 1rem;
}

main .section.rating .default-content-wrapper ul li {
  margin-top: 16px;
  margin-bottom: 0;
}

main .section.rating .default-content-wrapper p {
  margin-top: 20px;
  margin-bottom: 0;
}

main .section.rating .default-content-wrapper ul li a {
  text-decoration: none;
  color: var(--button-color);
}

main .section.rating .default-content-wrapper ul li a:hover {
  text-decoration: underline;
  text-decoration-color: var(--link-hover-color);
}

main .section.rating .default-content-wrapper a.button {
  all: unset;
  font-family: var(--button-font-family);
  font-size: 1rem;
  position: relative;
  cursor: pointer;
}

main .section.rating .default-content-wrapper a.button::after {
  content: url('../icons/chevron-black.svg');
  margin-left: 5px;
  position: absolute;
  top: 1px;
}

main .section.rating .default-content-wrapper a.button:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
}

@media (min-width: 600px) {
  main .section.rating .default-content-wrapper {
    margin: unset;
    margin-left: 50%;
    width: unset;
  }

  main .section.rating .default-content-wrapper a.button::after {
    top: -1px;
  }
}

@media (min-width: 900px) {
  main .section.rating .default-content-wrapper {
    margin-left: 60%;
  }
}

.button-container a[title="Quick exit"] {
  display: block;
  width: 100%;
  background-color: var(--button-color);
  border-color: var(--button-color);
  border: 1px solid var(--button-color);
  border-radius: 0.25rem;
  min-height: 48px;
  padding: 10px;
}

.button-container a[title="Quick exit"]:hover {
  background-color: var(--button-hover-color);
}
