.cards {
  --cards-heading-font-size: 28px;
}

.section.cards-container {
  padding: 0;
  background-color: transparent;
}

.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 16px;
  display: grid;
  grid-template-columns: 1fr;
}

.cards > ul > li {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  border-radius: 8px;
  background-color: var(--background-color);
  box-shadow: 0 0 4px rgba(0 0 0 / 8%),0 6px 4px -4px rgba(0 0 0 / 8%);
  transition: all ease-in 0.2s;
}

.cards > ul > li > a, .cards > ul > li > a.button {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  text-decoration: none;
  width: 100%;
  border: 0;
  padding: 16px;
  color: var(--link-color);
  background-color: transparent;
  font-weight: unset;
  font-size: var(--cards-heading-font-size);
  line-height: 1.875rem;
  letter-spacing: -1px;
  margin: auto 0;
  white-space: inherit;
  text-align: inherit;
  border-radius: inherit;
}

.cards > ul > li > a p {
  margin: 0;
}

.cards > ul > li:hover {
  box-shadow: 0 2px 4px 0 rgba(0 0 0 / 15%);
  transform: translateY(-4px);
  cursor: pointer;
}

.cards .cards-card-body {
  font-size: var(--cards-heading-font-size);
  line-height: 1.875rem;
  letter-spacing: -1px;
  -webkit-font-smoothing: antialiased;
}

.cards .cards-card-body:first-child {
  margin-right: 16px;
}

.cards .icon {
  height: 64px;
  width: 64px;
}

@media (min-width: 600px) {
  .cards {
    --cards-heading-font-size: 16px;
  }

  .cards > ul {
    grid-template-columns: repeat(3, 1fr);
  }

  .cards > ul > li > a {
    padding: 16px 8px;
  }
}

@media (min-width: 900px) {
  .cards > ul > li > a {
    padding: 24px;
  }

  .cards {
    --cards-heading-font-size: 22px;
  }

  .cards > ul {
    gap: 24px;
  }

  .cards .cards-card-body:first-child {
    margin-right: 24px;
  }
}

@media (min-width: 1200px) {
  .cards {
    --cards-heading-font-size: 28px;
  }

  .cards > ul > li > a {
    padding: 32px;
  }
}

@media (min-width: 600px) {
  .cards.even {
    --cards-heading-font-size: 22px;
  }

  .cards.even > ul {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1200px) {
  .cards.even {
    --cards-heading-font-size: 28px;
  }
}
