/* header and nav layout */
header .nav-wrapper {
  background-color: var(--text-color);
  width: 100%;
  z-index: 2;
  position: fixed;
  color: var(--background-color);
}

header .nav-wrapper:has(#nav[aria-expanded="true"]) {
  background: linear-gradient(to bottom, black 85%, rgba(255,255,255,0.7) 85%);
}

header nav {
  box-sizing: border-box;
  display: grid;
  grid-template:
    'hamburger brand tools' var(--nav-height)
    'sections sections sections' 1fr / auto 1fr auto;
  align-items: center;
  margin: auto;
  max-width: 1280px;
  height: var(--nav-height);
  font-family: var(--body-font-family);
  padding-right: 0;
  padding-left: 1rem;
}

header nav[aria-expanded="true"] {
  grid-template:
    'hamburger brand tools' var(--nav-height)
    'sections sections sections' 1fr / auto 1fr auto;
  overflow-y: auto;
  min-height: 100vh;
}

@media (min-width: 600px) {
  header nav {
    padding-right: 0;
    padding-left: 0;
    margin-left: 1rem;
  }

  header .nav-wrapper:has(#nav[aria-expanded="true"]) {
    background: linear-gradient(to bottom, black 33%, rgba(255,255,255,0.7) 33%);
  }
}

@media (min-width: 900px) {
  header nav {
    margin-left: auto;
  }

  header .nav-wrapper {
    background-color: black;
  }

  header .nav-wrapper:has(#nav[aria-expanded="true"]) {
    background: black;
  }

  header nav[aria-expanded="true"] {
    min-height: 0;
    overflow: visible;
    grid-template:
    'hamburger brand sections tools' var(--nav-height)
    / auto 1fr 1.75fr auto;
  }
}

header nav p {
  margin: 0;
  line-height: 1;
  height: 25px;
}

header nav p:first-child {
  flex: 61;
}

header nav p:nth-child(2) {
  flex: 39;
}

header nav .nav-brand span {
  display: block;
  width: 100%;
  height: 100%;
}

header nav a:any-link {
  color: currentcolor;
}

/* hamburger */
header nav .nav-hamburger {
  grid-area: hamburger;
  height: 22px;
  display: flex;
  align-items: center;
  padding-right: 1rem;
}

header nav .nav-hamburger button {
  height: 22px;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 0;
  background-color: var(--text-color);
  color: var(--background-color);
  overflow: initial;
  text-overflow: initial;
  white-space: initial;
}

header nav .nav-hamburger-icon,
header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 20px;
}

header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  content: '';
  position: absolute;
  background: currentcolor;
}

header nav[aria-expanded="false"] .nav-hamburger-icon,
header nav[aria-expanded="false"] .nav-hamburger-icon::before,
header nav[aria-expanded="false"] .nav-hamburger-icon::after {
  height: 2px;
  border-radius: 2px;
  background: currentcolor;
}

header nav[aria-expanded="false"] .nav-hamburger-icon::before {
  top: -6px;
}

header nav[aria-expanded="false"] .nav-hamburger-icon::after {
  top: 6px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon {
  height: 22px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon::before,
header nav[aria-expanded="true"] .nav-hamburger-icon::after {
  top: 3px;
  left: 1px;
  transform: rotate(45deg);
  transform-origin: 2px 1px;
  width: 24px;
  height: 2px;
  border-radius: 2px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon::after {
  top: unset;
  bottom: 3px;
  transform: rotate(-45deg);
}

@media (min-width: 900px) {
  header nav .nav-hamburger {
    display: none;
    visibility: hidden;
  }
}

/* brand */
header .nav-brand {
  grid-area: brand;
  flex-basis: 128px;
  font-size: var(--heading-font-size-s);
  font-weight: 700;
  line-height: 1;
  display: flex;
  align-items: center;
  max-width: 255px;
  gap: 1rem;
}

header nav .nav-brand p:nth-child(2) a:first-child::before {
  content: '';
  height: 24px;
  width: 0.5px;
  background: var(--columns-border);
  position: absolute;
  margin-left: -0.5rem;
}

header nav .nav-brand img {
  width: 128px;
  height: auto;
}

@media (min-width: 600px) {
  header .nav-brand {
    max-width: 328px;
    gap: 1.5rem;
  }

  header nav .nav-brand p {
    height: 32px;
  }

  header nav .nav-brand p:nth-child(2) a:first-child::before {
    content: '';
    height: 40px;
    width: 1px;
    margin-left: -0.75rem;
    top: 24px;
  }
}

@media (min-width: 900px) {
  header .nav-brand {
    max-width: 376px;
    gap: 2rem;
  }

  header nav .nav-brand .icon {
    width: unset;
  }

  header nav .nav-brand p {
    display: flex;
    height: 34px;
  }

  header nav .nav-brand p:nth-child(2) a:first-child::before {
    content: '';
    height: 40px;
    width: 1px;
    background: var(--columns-border);
    position: absolute;
    margin-left: -1.2rem;
  }
}

.slide-in {
  animation: slide-in 0.5s forwards;
}

.slide-out {
  animation: slide-out 0.5s forwards;
}

/* sections */
header nav .nav-sections {
  grid-area: sections;
  flex: 1 1 auto;
  display: none;
  visibility: hidden;
  background-color: var(--overlay-color);
}

header nav[aria-expanded="true"] .nav-sections {
  display: block;
  visibility: visible;
  align-self: start;
}

header nav .nav-sections ul  {
  list-style: none;
  padding-left: 0;
  font-size: var(--body-font-size-s);
  font-weight: 500;
}

header nav .nav-sections ul > li {
  font-weight: 700;
  margin-bottom: 20px;
}

header nav .nav-sections ul > li > ul {
  margin-top: 0;
}

header nav .nav-sections ul > li > ul > li {
  font-weight: 500;
}

header nav .nav-tools p a {
  text-decoration: none;
  font-family: var(--login-button-font-family);
  font-size: smaller;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  height: 100%;
  align-items: center;
}

header nav .nav-sections ul > li > a {
  text-decoration: none;
  font-size: .875rem;
  padding: 8px 0 8px 16px;
}

header nav .nav-sections ul li.active > a {
  border-left: 4px solid #0c6cce;
}

header nav .nav-sections ul > li > a:hover {
  border-left: 4px solid #0c6cce;
}

@media (min-width: 900px) {
  header nav .nav-sections {
    display: block;
    visibility: visible;
    white-space: nowrap;
    padding-left: 1rem;
  }

  header nav[aria-expanded="true"] .nav-sections {
    align-self: unset;
  }

  header nav .nav-sections .nav-drop {
    position: relative;
    padding-right: 16px;
    cursor: pointer;
  }

  header nav .nav-sections .nav-drop::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: .5em;
    right: 2px;
    transform: rotate(135deg);
    width: 6px;
    height: 6px;
    border: 2px solid currentcolor;
    border-radius: 0 1px 0 0;
    border-width: 2px 2px 0 0;
  }

  header nav .nav-sections .nav-drop[aria-expanded="true"]::after {
    top: unset;
    bottom: .5em;
    transform: rotate(315deg);
  }

  header nav .nav-sections ul {
    display: flex;
    gap: 2em;
    margin: 0;
    font-size: var(--body-font-size-xs);
  }

  header nav .nav-sections > ul > li {
    flex: 0 1 auto;
    position: relative;
    font-weight: 500;
    font-size: medium;
    margin-bottom: 0;
  }

  header nav .nav-sections > ul > li > ul {
    display: none;
    position: relative;
  }

  header nav .nav-sections > ul > li[aria-expanded="true"] > ul {
    display: block;
    position: absolute;
    left: -1em;
    width: 200px;
    margin-top: 12px;
    padding: 1em;
    background-color: var(--highlight-background-color);
    white-space: initial;
  }

  header nav .nav-sections > ul > li > ul::before {
    content: '';
    position: absolute;
    top: -8px;
    left: 8px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid var(--highlight-background-color);
  }

  header nav .nav-sections > ul > li > ul > li {
    padding: 8px 0;
  }

  header nav .nav-sections ul > li > a {
    padding-bottom: 30px;
    padding-top: 30px;
    border-left: 0;
    padding: 0;
    font-size: 1rem;
  }

  header nav .nav-sections ul > li > a::after{
    content: "";
    position: absolute;
    bottom: -32px;
    left: 0;
    width: 0;
    height: 3px;
    text-decoration: none;
    border-bottom: 4px solid var(--button-color);
  }
  
  header nav .nav-sections ul li.active > a, header nav .nav-sections ul > li > a:hover {
    border-left: 0;
  }

  header nav .nav-sections ul li.active > a::after {
    width: 100%;
  }
  
  header nav .nav-sections ul > li > a:hover::after{
    width: 100%;
  }
}

/* tools */
header nav .nav-tools {
  grid-area: tools;
  background-color: var(--button-color);
  height: 100%;
}

header nav .nav-tools p {
  height: 100%;
}

header nav .nav-tools p a span {
  display: none;
}

@media (min-width: 600px) {
  header nav .nav-tools p a {
    font-size: medium;
    padding-left: 25px;
    padding-right: 25px;
  }

  header nav .nav-tools p a span {
    display: block;
    position: relative;
    top: 1px;
  }
}

a.skip-link {
  position: fixed;
  top: -10rem;
  left: -200rem;
  font-weight: 500;
  background-color: #0c6cce;
  padding: 16px;
  z-index: 20000;
  text-decoration: underline;
}

a.skip-link:focus {
  left: 0;
  top: 0;
  font-size: 1rem;
  color: white;
}
