.video {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.video .button-container {
  position: absolute;
  bottom: 7px;
  left: 0;
  margin: 0;
  padding: 0;
}

.video .open-video {
  padding: 0;
  display: flex;
  align-items: center;
  z-index: 10;
  cursor: pointer;
  border-radius: 0;
  background-color: var(--video-button-background-color);
}

.video .video-button-content {
  display: none;
  flex: 1;
  flex-basis: auto;
  padding-right: 12px;
  box-sizing: border-box;
  flex-direction: column;
  align-items: flex-start;
  font-weight: normal;
  line-height: 1.75rem;
}

.video .video-button-content .video-button-title {
  color: var(--video-button-title-color);
  font-size: var(--body-font-size-s);
  margin-bottom: 6px;
}

.video .video-button-content .video-button-duration {
  margin: 0;
  font-size: var(--body-font-size-s);
  color: var(--video-button-duration-color);
  line-height: 1.75rem;
}

.video .video-button-cta {
  background-color: var(--video-button-cta-background-color);
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 0;
  margin: 0;
  padding: 0;
}

.video .video-button-cta .video-button-play {
  height: 10px;
  width: 10px;
  box-sizing: border-box;
  border-top: 5px solid var(--video-button-cta-background-color);
  border-bottom: 5px solid var(--video-button-cta-background-color);
  border-left: 10px solid var(--video-button-cta-color);
}

@media (min-width: 600px) {
  .video .button-container {
    bottom: 32px;
  }

  .video .video-button-content {
    display: flex;
  }

  .video .open-video {
    padding: 12px 12px 12px 15px;
  }
}

.video-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 30000;
  align-items: center;
  justify-content: center;
  background-color: rgb(240 240 240 / 70%);
}

.video-modal.open {
  display: flex;
}

.video-modal-wrapper {
  max-width: 1280px;
  width: 100%;
  max-height: 100vh;
}

.video-modal-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 56.25%;
  max-width: 100%;
  height: 0;
  position: relative;
  box-sizing: border-box;
  margin: 40px 16px;
}

@media (min-width: 900px) {
  .video-modal-container {
    margin: 64px 40px;
  }
}

.video-modal-close {
  position: absolute;
  top: -2.1875rem;
  right: 2px;
  width: 32px;
  height: 32px;
  border: 0;
  padding: 0;
  margin: 0;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  border-radius: 0;
}

.video-modal-close:hover, .video-modal-close:focus {
  outline: 4px auto #0c6cce;
  box-shadow: none;
  outline-offset: 0;
  background-color: transparent;
}

.video-modal-close::before {
  content: ' ';
  top: 0;
  width: 1px;
  height: 32px;
  background-color: #000;
  box-sizing: border-box;
  transform: rotate(45deg);
}

.video-modal-close::after {
  content: ' ';
  top: 0;
  width: 1px;
  height: 32px;
  background-color: #000;
  box-sizing: border-box;
  transform: rotate(-45deg);
}

@media (min-width: 1200px) {
  .video-modal-close {
    top: -3.75rem;
    width: 56px;
    height: 56px;
  }

  .video-modal-close::before {
    margin-top: -3px;
    height: 64px;
  }

  .video-modal-close::after {
    margin-top: -3px;
    height: 64px;
  }
}

.video-modal-content {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.video-modal-content iframe,
.video-modal-content video {
  width: 100%;
  height: 100%;
  border: none;
}

.video-modal-content video {
  object-fit: cover;
}

.modal-open {
  overflow: hidden;
}

.video img {
  width: 100%;
  height: 100%;
}
