.search {
  margin-top: 24px;
}

.search-outer {
  max-width: 1280px;
  box-sizing: border-box;
  padding: 2px;
  position: relative;
}
.search .results_list_title {
  font-family: var(--body-font-family-bold-normal);
  font-size: 1.25rem;
  line-height: 1.75rem;
  display: inline;
}

.search .results_list-link:visited .results_list_title {
  color: #064384;
}

.search .results_list {
  margin: 0 16px 16px;
}

.search .results_list_item {
  border-bottom: 1px solid #f7f7f7;
  padding: 32px 0;
}

.search .results_list_link {
  margin-bottom: 8px;
}

.search .results_list_link:focus {
  color: var(--button-hover-color);
  text-decoration: underline;
}

.search .results_list_url,.results_list_description {
  font-size: .875rem;
  line-height: 1.25rem;
  word-wrap: break-word;
}

.search .results_list_url {
  margin-top: 8px;
}

.search-input {
  font-family: inherit;
  font-size: 1.125rem;
  line-height: 1.5rem;
  width: 100%;
  max-height: 75px;
  border: 0;
  color: var(--search-text-color);
  padding: 16px 48px 24px 16px;
  box-sizing: border-box;
  max-width: unset;
  border-radius: unset;
  margin: 0;
}

.search ul.pagination {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 100px;
  list-style: none;
  flex-wrap: wrap;
}

.search .pagination a {
  border-right: 1px solid var(--overlay-background-color);
  font-size: var(--font-size-small);
  color: var(--secondary);
  padding: 7px 20px;
  text-decoration: none;
}

.search .pagination .notvisible {
  display: none;
}

.search .pagination li:nth-of-type(2) a {
  border-left: 1px solid var(--overlay-background-color);
}

.search .pagination li.page {
  background-color: var(--gray);
  background-repeat: no-repeat;
  background-position: center;
  background: url('/help/icons/search-arrow.svg') no-repeat center;
}

.search .pagination li.prev.page {
  /* Horizontal flip the image */
  transform: scaleX(-1);
}

.search .pagination li.page.disabled {
  background-color: #bcbcbc;
}

.search .pagination li a:hover, .search-results .pagination li.active a {
  background-color: var(--secondary);
  border-color: var(--secondary);
  color: var(--white);
}

.search .pagination li.page.disabled a:hover {
  background-color: inherit;
}

@media (min-width: 600px) {
  .search-input {
    font-size: 1.375rem;
    line-height: 1rem;
  }

  .hero-img-right .search-input {
    font-size: 1.125rem;
    line-height: 1.5rem;
  }

  .pagination {
    margin: 0 24px;
  }

  .search .results_list {
    margin: 0 24px 16px;
  }

}

@media (min-width: 900px) {
  .search-input {
    padding: 24px 56px 24px 24px;
  }

  .hero-img-right .search-input {
    font-size: 1.375rem;
    line-height: 1rem;
  }

  .pagination {
    margin: 0 40px;
  }

  .search .results_list {
    margin: 0 40px 16px;
    max-width: 562px;
  }
}

@media (min-width: 1200px) {
  .search-input {
    padding: 24px 80px 24px 40px;
  }

  .pagination {
    margin: 0 48px;
  }

  .search .results_list {
    margin: 0 40px 16px;
    max-width: 562px;
  }

}

.search-input:focus {
  outline: 4px auto var(--search-focus-color);
  box-shadow: none;
}

.search-input:hover {
  border: 0;
}

.search-label {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  clip-path: inset(50%);
  border: 0;
}

.search {
  position: relative;
}

.search-button {
  box-sizing: border-box;
  position: absolute;
  background: transparent;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 16px;
  height: 16px;
  top: 22px;
  right: 20px;
}

@media (min-width: 900px) {
  .search-button {
    top: 32px;
    right: 30px;
  }
}

@media (min-width: 1200px) {
  .search-button {
    right: 42px;
  }
}

.search-button:hover,  .search-button:focus {
  background: transparent;
}

.search .icon {
  width: 16px;
  height: 16px;
}

.search-info {
  position: absolute;
  width: calc(100% - 36px);
  bottom: 16px;
  border-top: 1px solid var(--search-line-info);
  box-sizing: border-box;
  margin: 0 16px;
}

@media (min-width: 900px) {
  .search-info {
    margin: 0 24px;
    width: calc(100% - 52px);
  }
}

@media (min-width: 1200px) {
  .search-info {
    width: calc(100% - 84px);
    margin: 0 40px;
  }
}

.search-info > * {
  display: none;
}

.search-info-text {
  font-size: .75rem;
  line-height: 1rem;
  color: var(--search-text-color);
}
