main .hero-container > div {
  max-width: unset;
}

main .section.hero-container {
  margin: 0 auto;
  padding: 0;
  background-color: transparent;
}

.hero.hero-no-image {
  margin: 24px 8px 40px;
}

.hero.hero-img-right {
  margin-top: 24px;
}

main .hero-container .hero-wrapper {
  max-width: 2080px;
  margin: auto;
}

main .hero {
  position: relative;
  padding: 0;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
}

main .hero-img-bg.hero {
  max-width: unset;
}

@media (min-width: 600px) {
  main .hero {
    display: block;
  }
}

main .hero h1 {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: var(--hero-text-color);
  margin-bottom: 0;
}

main .hero h5 {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
  color: var(--hero-text-color);
}

main .hero.hero-no-image h1 {
  font-size: var(--hero-no-image-heading-font-size);
}

.hero-picture.hero-animate {
  opacity: 1;
}

.hero-picture {
  order: 2;
  max-height: 180px;
  opacity: 0;
  transition: opacity 1s ease-in 1s;
}

main .hero picture {
  object-fit: cover;
  box-sizing: border-box;
}

.hero-picture img {
  vertical-align: middle;
  object-position: unset;
}

main .hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.hero-outer {
  order: 3;
  max-width: 1200px;
}

.hero-img-right .hero-outer {
  margin-left: 8px;
  margin-right: 8px;
}

.hero-no-image .hero-outer {
  margin-top: 24px;
}

.hero-box {
  position: relative;
  width: auto;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 23px 16px 40px;
  max-width: 1280px;
  color: var(--hero-text-color);
  background-color: var(--hero-background-color);
  box-sizing: border-box;
}

.hero-box::before {
  content: '';
  position: absolute;
  box-sizing: border-box;
  bottom: 100%;
  right: 87%;
  width: 13%;
  border-bottom: 17px solid var(--hero-background-color);
  border-right: 17px solid transparent;
}

.hero-box::after {
  content: '';
  position: absolute;
  box-sizing: border-box;
  bottom: 100%;
  left: 13%;
  width: 87%;
  border-bottom: 17px solid var(--hero-background-color);
  border-left: 17px solid transparent;
}

@media (min-width: 600px) {
  .hero.hero-img-right {
    margin: 24px 16px;
  }

  .hero.hero-no-image {
    margin: 24px 16px;
  }

  .hero {
    padding: 32px;
  }

  .hero-outer {
    margin: auto 16px;
  }

  .hero.hero-img-bg {
    padding-top: 32px;
    padding-bottom: 80px;
  }

  .hero-no-image .hero-outer {
    margin: 0;
  }

  .hero-img-right .hero-outer {
    padding: 0;
    margin: 0;
  }

  main .hero picture {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  main .hero.hero-img-right picture {
    left: 35%;
  }

  .hero-box {
    width: calc(100% - 17px);
    margin-left: 17px;
    padding: 32px 64px 32px 47px;
  }

  .hero-img-right .hero-box {
    width: 57%;
  }

  .hero-box::before {
    right: calc(100% - 1px);
    border-bottom: 17px solid transparent;
    border-right: 17px solid var(--hero-background-color);
    bottom: auto;
    top: 0;
    height: 64px;
  }

  .hero-box::after  {
    top: 62px;
    left: calc(-87% + 1px);
    border-bottom: 0 solid transparent;
    border-right: 17px solid var(--hero-background-color);
    bottom: 0;
    height: auto;
    border-top: 17px solid transparent;
    right: 100%;
  }
}

@media (min-width: 900px) {
  main .section.hero-container {
    margin: auto 24px;
  }

  .hero.hero-img-bg {
    margin: auto -24px;
  }

  .hero.hero-img-right {
    margin: 24px auto;
  }

  .hero.hero-no-image {
    margin: 24px auto;
  }

  .hero-outer {
    margin: auto 24px;
  }

  .hero-smaller-text h1 {
    font-size: var(--heading-font-size-xl);
    line-height: var(--heading-line-height-xl);
  }
}

@media (min-width: 1200px) {
  main .section.hero-container {
    max-width: unset;
  }

  .hero-outer {
    margin: auto;
  }

  .hero.hero-img-bg {
    padding-bottom: 80px;
  }

  .hero-box {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}
